.contacts{
    // add blue color background
    background-color: var(--blue-200);

    // set width to max text content
    display: inline-block;

    &__add{
        // let user know that they can click on add
        cursor: pointer;

        // add spacing between icon and title
        display: flex;
        column-gap: 2.1rem;
        justify-items: center;

        // add space inbetween title
        padding: 1.4rem 1.7rem 2rem;

        
    }

    

}