.contacts{
    // add scolling bar if there is more contact that available view port
    overflow: auto;
    
    // add blue color background
    background-color: var(--blue-200);

    // set width to max text content
    display: inline-block;

    &__add{
        // let user know that they can click on add
        cursor: pointer;

        // add spacing between icon and title
        display: grid;
        grid-auto-flow: column;
        column-gap: 2.1rem;
        align-items: center;

        // add space inbetween title
        padding: 1.4rem 1.7rem 2rem;

        // define text color size and color
        &-title{
            font-size: 3.6rem;
            font-weight: 400;
            color: var(--black);

            // add color cue
            &:hover{
                color: var(--blue-400);
            }
        }
        &-icon{
            height: 3.2rem;
            width: 3.2rem;
            // position:absolute;
    // top:0;left:0;bottom:0;right:0;
        }
    }

    &__name{
        /* remove styles */
        border: none;
        background: none;

        /* cover all available space */
        display: block;
        width: 100%;
        
        /* move text to the left side */
        text-align: start;
        
        // let user know that they can click on names
        cursor: pointer;

        // define the name text size and weight
        font-size: 1.8rem;
        font-weight: 400;

        // add space around the name
        padding: 1.4rem 1.7rem 2.3rem; 

        // add color hints
        &:hover,&:focus{
            background-color: var(--blue-400);
            color: var(--white-400);
        }

        // highly the current displaying contact
        &-highlight{
            background-color: var(--blue-400);
            color: var(--white-400);
        }
    }

}