.emails{
    
    /* layout */
    display: grid;
    grid-template: 
        "label" max-content
        "." .9rem
        "new-emails" max-content
        "." .9rem
        "list" max-content
        "." 1.3rem
        "add" max-content
        / 1fr
    ;

    /* add elements to area */
    &__label{
        grid-area: label;
    }

   
    &__new-email-inputs{
        grid-area: new-emails;
    }

    &__list{
        /* move to email area */
        grid-area: list;

        

        /* make icon and text adjacent to each other  */
        &-email{
            display: flex;
            /* add sapce between icon and email text */
            column-gap: 1.4rem;
            
            /* add space between emails */
            margin-bottom: 1.2rem;

            /* remove white space for last email */
            &-last{
                margin: none;
            }
        }
        /* define email text */
        &-text{
            font-size: 1.8rem;
            font-weight: 400;

            
        }
    }

    
    &__add-email{
        /* add add-email option to email layout */
        grid-area: add;

        /* move text and icon side by side */
        display: grid;
        grid-template: 
            "icon text-field " max-content
            "error error " max-content
            / max-content 1fr
        ;


        &-text-field{
            /* set elements to define grid area */
            grid-area: text-field;
        }
        &-icon{
            /* set elements to define grid area */
            grid-area: icon;

           
        }
        &-error{
            /* move error to the bottom of text and icon */
            grid-area: error;

            
        }
        
    }
}