.emails{
    
    /* layout */
    display: grid;
    grid-template: 
        "label" max-content
        "." .9rem
        "new-emails" max-content
        "." .9rem
        "list" max-content
        "." 1.3rem
        "add" max-content
        / 1fr
    ;

    /* add elements to area */
    &__label{
        grid-area: label;
    }

   
    &__new-email-inputs{
        grid-area: new-emails;
    }

    &__list{
        /* move to email area */
        grid-area: list;

        

        /* make icon and text adjacent to each other  */
        &-email{
            display: flex;
            /* add sapce between icon and email text */
            column-gap: 1.4rem;
            
            /* add space between emails */
            margin-bottom: 1.2rem;

            
        }
        
    }

    
    &__add-email{
        /* add add-email option to email layout */
        grid-area: add;

    }
}