.form{
    /* move form to the right of contact name list */
    grid-area: detail;
    
    /* layout */
    display: grid;
    grid-template:
        "first-name last-name" min-content
        "email ." 1fr
        "delete cancel-save" min-content
        / 1fr 1fr
    ;

    // add white space between grid areas
    column-gap: 4rem;
    row-gap: 2.9rem;
    
    
}