.form{
    /* move form to the right of contact name list */
    grid-area: detail;
    
    /* layout */
    display: grid;
    grid-template:
        "first-name last-name" min-content
        "email ." 1fr
        "delete cancel-save" min-content
        / 1fr 1fr
    ;

    // add white space between grid areas
    column-gap: 4rem;
    row-gap: 2.9rem;
    
    /* add white space around */
    padding: 7.7rem 3rem 2.2rem;
    
    /* define text for labels */
    &__input{
        // add spacing between label and field
        display: grid;
        row-gap: .7rem;
    }
    &__label{
        font-size: 1.2rem;
        color: var(--brown);
    }

    &__text-field{
        background-color: var(--blue-200);
        border: .1rem solid var(--blue-100);
        padding: .7rem 0 .7rem 1.2rem ;
        font-size: 1.8rem;
        color: var(--black);
    }
    
    /* erro message */
    &__error{
        color: var(--red);
    }

    /* form buttons */
    &__delete{
        /* place elements in grid area */
        grid-area: delete;
    }
    &__cancel-save{
        /* place elements in grid area */
        grid-area: cancel-save;
        
        /* add space between buttons */
        display: flex;
        column-gap: 3rem;
        
        /* move buttons to the left */
        flex-direction: row-reverse;
        
        &-save{
            /* remove bolder */
            border: none;

            /* decorations*/
            background-color: var(--blue-400);

            /* define the text */
            color: var(--white-400);
            font-weight: 400;
            font-size: 2rem;
            padding: .7rem 3rem;

            /* let user know they can click on button */
            cursor: pointer;

            
        }

        
        
    }
    
}